* {
	box-sizing: border-box;
}
::selection {
	background: #ee4a5d;
	color: #fff;
}
::-moz-selection {
	background: #ee4a5d;
	color: #fff;
}

body {
	font-size: 10px;
	font-family: Open Sans, Helvetica, Arial, sans-serif;
}

footer {
	background: #eee;
	color: #8e939d;
	font-size: 1.7em;
	text-align: center;
	font-weight: 100;
	padding: 4em 0 4em 0;
	margin-top: 3em;
}

.container {
	margin: 0 auto;
}

.devin {
	background: url('devin.jpg') no-repeat;
}

.daniel {
	background: url('daniel.jpg') no-repeat;
}

.ed {
	background: url('ed.jpg') no-repeat;
}

.pic {
	border: 5px solid #ddd;
	border-radius: 100%;
	height: 200px;
	width: 200px;
	background-size:contain;
	margin: 0 auto;
	margin-bottom: 6em;
	transition: all .3s ease;
}

.pic:hover {
	border-color: #ee4a5d;
}

.dev {
	display: inline-block;
	vertical-align: top;
}

h1 {
	font-weight: 100;
	font-size: 4em;
	text-align: center;
	margin-top: 2.2em;
	margin-bottom: 1.6em;
}

h3 {
	text-align: center;
	margin-bottom: 2em;
}

.dev-link h3 .name {
	color: #555;
	border-bottom: 2px solid transparent;
	font-size: 3em;
	font-weight: 100;
	transition: all .3s ease;
}

.dev-link h3 .name:hover {
	border-bottom-color: #ee4a5d;
	color: #ee4a5d;
}

p {
	font-size: 1.8em;
	line-height: 1.8em;
	color: #888;
	font-weight: 400;
}

a {
	color: #ee4a5d;
	text-decoration: none;
	transition: all .3s ease;
	border-bottom: 1px solid transparent;
}

a:hover {
	border-bottom-color: #ee4a5d;
}


.main-content {
	border-top: 1px solid #eee;
	margin-top: 8em;
	padding-top: 3em;
}

@media (max-width: 1043px) {

}

@media (min-width: 701px) {
	.dev {
		width: 49%;
	}
	.dev:first-child {
		padding-right: 2em;
	}
	.dev:last-child {
		padding-left: 2em;
	}
	.container {
		max-width: 1024px;
	}
}

@media (max-width: 700px) {
	.container-mobile {
		margin: 0 1.3em 0 1.3em;
	}
	body {
		font-size: 8px;
	}
	.dev {
		width: 100%;
	}
	.dev:first-child {
		padding-bottom: 3em;
		margin-bottom: 3em;
		border-bottom: 1px solid #eee;
	}
	h1 {
		margin-top: 1em;
	}
}

.button {
	border: 2px solid #ee4a5d;
	color: #ee4a5d;
	background: none;
	border-radius: 8px;
	padding: .8em;
	font-size: 2em;
	width: 200px;
	transition: all .3s ease;
	display: inline-block;
	text-align: center;
}

.button:hover {
	background: #ee4a5d;
	color: #fff;
}

.contact-button {
	margin-top: 6em;
	text-align: center;
}
